@page "/monitor"
@using MonitorToDMX.Services;
@using MonitorToDMX.Models;

@code{
    public bool test;
    protected override void OnInitialized()
    {
        Fixture.Fixtures.Add(new Fixture("Fresnel V", new Dictionary<Fixture.FixtureMode, int>
        {
            { Fixture.FixtureMode.Intensity, 0 },
            { Fixture.FixtureMode.Red, 1 },
            { Fixture.FixtureMode.Green, 2 },
            { Fixture.FixtureMode.Blue, 3 },
            { Fixture.FixtureMode.Indigo, 4 },
            { Fixture.FixtureMode.Lime, 5 },
            { Fixture.FixtureMode.Strobe, 6 },
            { Fixture.FixtureMode.Zoom, 7 },
            { Fixture.FixtureMode.Fan, 8 },
        }, Fixture.ColourMode.Partitioned));

        Fixture.Fixtures.Add(new Fixture("PAR", new Dictionary<Fixture.FixtureMode, int>
        {
            { Fixture.FixtureMode.Intensity, 0 },
            { Fixture.FixtureMode.Red, 1 },
            { Fixture.FixtureMode.Green, 2 },
            { Fixture.FixtureMode.Blue, 3 },
            { Fixture.FixtureMode.Strobe, 4 },
        }, Fixture.ColourMode.Global));

        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 10, 0, 0);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 20, 1, 0);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 30, 2, 0);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 40, 3, 0);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 50, 0, 1);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 60, 1, 1);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 70, 2, 1);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 80, 3, 1);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 90, 0, 2);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 100, 1, 2);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 110, 2, 2);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[0], 120, 3, 2);

        DMXService.show.AddLightFromExisting(Fixture.Fixtures[1], 130);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[1], 140);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[1], 150);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[1], 160);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[1], 170);
        DMXService.show.AddLightFromExisting(Fixture.Fixtures[1], 180);
    }

}
<button class="btn btn-primary" @onclick="(() => DMXService.StartDmxLoop())" disabled="@test">Start Monitoring</button>