<h3>Manual DMX Control</h3>

<label>Red: @Red</label>
<input type="range" min="0" max="255" @bind="Red" />

<label>Green: @Green</label>
<input type="range" min="0" max="255" @bind="Green" />

<label>Blue: @Blue</label>
<input type="range" max="255" @bind="Blue" />

<button @onclick="SetGlobalColor">Apply Color</button>

@code {
    private int Red { get; set; }
    private int Green { get; set; }
    private int Blue { get; set; }

    private void SetGlobalColor()
    {
    }
}
